@use 'dark-mode';

@import '~@angular/material/theming';

.wave {
  @include dark-mode.transition('box-shadow');
  border-radius: 100%;
  box-shadow: 0 0 0 0 dark-mode.$shadow-color;
  height: 2px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 2px;
  z-index: -1;

  &.active {
    background: dark-mode.$shadow-color;
    box-shadow: 0 0 0 9999px dark-mode.$shadow-color;
  }
}
