@import '~@angular/material/theming';

$dark-bg: mat-color($mat-grey, 900);
$dark-text: mat-color($mat-grey, 100);

$light-bg: mat-color($mat-grey, 50);
$light-text: mat-color($mat-grey, 800);

$toggle-position: 20px;
$toggle-size: 48px;

@mixin transition($properties) {
  $t: ();

  @each $p in $properties {
    $i: index($properties, $p);
    $t: append($t, '#{$p} .4s cubic-bezier(0.4, 0.0, 0.2, 1)', comma);
  }

  transition: #{$t};
}
