@use "sass:map";

$home-padding: 2vmin;
$button-text-size: ("min": 14px, "max": 28px, "size": 2.5vmin);

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$home-padding} * 2);
  padding: $home-padding;
  justify-content: center;
  width: calc(100vw - #{$home-padding} * 2);

  h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 9vmin;
    font-weight: 500;
    white-space: nowrap;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    button {
      font-size: clamp(#{map.get($button-text-size, "min")}, #{map.get($button-text-size, "size")}, #{map.get($button-text-size, "max")});
      line-height: clamp(#{map.get($button-text-size, "min") * 1.5}, #{map.get($button-text-size, "size") * 1.5}, #{map.get($button-text-size, "max") * 1.5});
    }

    .play {
      font-size: clamp(#{map.get($button-text-size, "min") * 1.5}, #{map.get($button-text-size, "size") * 1.5}, #{map.get($button-text-size, "max") * 1.5});
      line-height: clamp(#{map.get($button-text-size, "min") * 1.5 * 1.5}, #{map.get($button-text-size, "size") * 1.5 * 1.5}, #{map.get($button-text-size, "max") * 1.5 * 1.5});
    }
  }
}
